# Konfigurasi Database (Ganti dengan URL PostgreSQL dari Railway/Render)
DATABASE_URL="postgresql://user:password@host:port/dbname?schema=public"

# Konfigurasi JWT Secret (Bisa diisi string acak)
JWT_SECRET="ganti_dengan_secret_key_yang_sangat_rahasia_dan_panjang_sekali"

# Port Server
PORT=3001
